input
{
    width: 75%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    margin-bottom: 10px;
    position: center;
}
submit
{
display: none;
}